# Abaikan berkas APK agar tidak membengkak di Git tree
*.apk

# Abaikan token keamanan lokal GitHub
github-token.txt

# Abaikan berkas changelog lokal dan berkas metadata
changelog*
metadata*
releases-current.json
